<p id="notice"><%= notice %></p>
<div>
  <ol>
    <h1>Tech Items</h1>
    <li> Rails</li>
    <li> Docker</li>
    <li> Jenkins</li>
    <li> Github</li>
    <li> AWS, ECS and ECR
      <ol>
        <li> Cluster</li>
        <li> Services</li>
        <li> Tasks & task definition</li>
        <li> Cloud formation template</li>
      </ol>
    </li>
    <li> Application load balancer
      <ol>
        <li> Load balancer</li>
        <li> Routing</li>
        <li> Target group</li>
        <li>Registering and deregestring of ecs instances</li>
      </ol>
    </li>
  </ol>
</div>

<% @blogs.each do |blog|%>
<%= blog.name%> </br>
<%end%>
